<!-- ======= Footer =======-->
<footer class="footer bg-black text-center text-light pt-5">
  <div class="border-bottom">
    <div class="container">
      <div class="row pb-5">
        <div class="col-sm-12 col-lg me-5 text-lg-start">
          <h2 class="fs-5">Storm</h2>
          <p>Subscribe</p>
          <small class="py-2"
            >get<span class="fw-bold">10%</span> of your first order</small
          >
          <form class="d-flex position-relative my-4">
            <input
              class="form-control text-light bg-transparent border-2"
              type="search"
              placeholder="Enter your email"
              aria-label="Search"
            />
            <button
              type="submit"
              class="btn position-absolute top-50 end-0 translate-middle-y me-2 p-0 border-0 bg-transparent"
            >
              <i class="fa-solid fa-paper-plane text-light pe-2"></i>
            </button>
          </form>
        </div>
        <div class="col-sm-12 col-md-6 col-lg mb-4 mb-lg-0 text-lg-start">
          <h3 class="mb-3">Support</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#"
                >111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</a
              >
            </li>
            <li><a href="#">Storm@Storm.com</a></li>
            <li><a href="#">+88015-88888-9999</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg mb-4 mb-lg-0 text-lg-start">
          <h3 class="mb-3">Account</h3>
          <ul class="list-unstyled">
            <li><a href="#">My Account</a></li>
            <li><a href="/login/login.html">Register / Login</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">Wish List</a></li>
            <li><a onclick="productClik()">Shop</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg mb-4 mb-lg-0 text-lg-start">
          <h3 class="mb-3">Quick Links</h3>
          <ul class="list-unstyled">
            <li>
              <a href="/shared/components/about/index.html">Privacy Policy</a>
            </li>
            <li>
              <a href="/shared/components/about/index.html">Termis Of Use</a>
            </li>
            <li><a href="#">FAQ</a></li>
            <li><a href="/shared/components/contact/index.html">Contact</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mb-4 mb-lg-0 text-center mx-0">
          <h3 class="mb-3">Download App</h3>
          <small>save <strong>$3</strong> With App New User Only</small>
          <div class="d-flex gap-2 py-2 justify-content-center">
            <img
              class="img-fluid QRCode"
              src="/assets/images/footer/frame.png"
              alt=""
              style="max-width: 5rem; cursor: pointer"
            />
            <div class="d-grid gap-2">
              <img
                class="border border-1 border-light-subtle rounded-2"
                src="/assets/images/footer/google-play-badge-logo-png-transparent.png"
                alt=""
                style="max-width: 7rem; cursor: pointer"
              />
              <img
                class="border border-1 border-light-subtle rounded-2"
                src="/assets/images/footer/images.png"
                alt=""
                style="max-width: 7rem; cursor: pointer"
              />
            </div>
          </div>
          <div class="d-flex pt-4 pb-0 justify-content-center gap-3">
            <i class="fa-brands fa-facebook-f fs-5 fw-light"></i>
            <i class="fa-brands fa-twitter fs-5 fw-light"></i>
            <i class="fa-brands fa-instagram fs-5 fw-light"></i>
            <i class="fa-brands fa-linkedin-in fs-5 fw-light"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row py-4">
      <div class="col-sm-12 col-lg-8 text-center">
        &copy;Storm. All rights reserved. Designed with
        <i class="fa-regular fa-heart auth fs-6"></i> by
        <a href="https://freebootstrap.net">FreeBootstrap.net</a>
      </div>
      <div class="text-center col-sm-12 col-lg-4">Distributed by Team 4</div>
    </div>
  </div>
</footer>
<!-- End Footer-->
